version: "3.8"

services:
  web:
    container_name: flask
    build: ./main/web
    command: python init.py run -h 0.0.0.0
    volumes:
      - ./main/web/:/usr/src/app/
    environment:
      - PYTHONUNBUFFERED=0
    ports:
      - 5000:5000
    env_file:
      - ./.env.dev
    depends_on:
      - db
  redis:
    image: "redis:alpine"
  db:
    container_name: postgres
    image: postgres:14-alpine
    expose:
      - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=test_1_db

volumes:
  postgres_data: